* {
  --color: pink;
  --ae-icon-size: 8px;
}

ion-icon {
  color: var(--color);
  font-size: var(--ae-icon-size);
}

ion-icon.ae16 {
  color: var(--color);
  font-size: calc(var(--ae-icon-size) * 2);
}

ion-icon.ae32 {
  color: var(--color);
  font-size: calc(var(--ae-icon-size) * 4);
}

ion-icon.ae48 {
  color: var(--color);
  font-size: calc(var(--ae-icon-size) * 6);
}

ion-icon.ae64 {
  color: var(--color);
  font-size: calc(var(--ae-icon-size) * 8);
}

ion-icon:hover {
  background-color: rebeccapurple;
  box-shadow: inset 0px 0px 0px 2px red;
  border-radius:50%;
  transform: scale(1.25);
}

/* ----------RGBYP---------------- */

.ion-color-red {
  --ion-color-base: #ff0000;
  --ion-color-rgb: 255, 0, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #e00000;
  --ion-color-tint: #ff1a1a;
}

.ion-color-green {
  --ion-color-base: #008000;
  --ion-color-rgb: 0, 128, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #007100;
  --ion-color-tint: #1a8d1a;
}

.ion-color-blue {
  --ion-color-base: #0000ff;
  --ion-color-rgb: 0, 0, 255;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #0000e0;
  --ion-color-tint: #1a1aff;
}

.ion-color-yellow {
  --ion-color-base: #ffff00;
  --ion-color-rgb: 255, 255, 0;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0e000;
  --ion-color-tint: #ffff1a;
}

.ion-color-purple {
  --ion-color-base: #800080;
  --ion-color-rgb: 128, 0, 128;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #710071;
  --ion-color-tint: #8d1a8d;
}

.ion-color-rebeccapurple {
  --ion-color-base: #663399;
  --ion-color-rgb: 102, 51, 153;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #5a2d87;
  --ion-color-tint: #7547a3;
}
